<%= content_for :main do %>
  <div class="content">
    <div class="teamstats">
      <h4 class="teamstats__name">
        <%= @team.nickname %>
      </h4>
      <div class="teamstats__chips">
        <ul>
          <li><div class="chip">6/10 Members</div></li>
          <li><div class="chip">
            <%=link_to "Admin", edit_team_path(@team) %>
          </div></li>
          <li><div class="chip chip--notice">
            Upgrade
          </div></li>
        </ul>
      </div>
    </div>

    <div class="flex flex--gutters">
      <div class="flex__item flex__item--full">
        <div class="node">
          <h5>Coming Up</h5>
          <div class="flex flex--gutters flex--nowrap">
            <% @events.each do |e| %>
              <div class="flex__item">
                <div class="node node--gradient">
                  <%=link_to event_path(e) do %>
                  <h2><%= e.title %></h2>
                  <h5><%= e.date.strftime("%B %e")%></h5>
                  <% if e.reminder == true %>
                    <span class="bell">
                      <i class="material-icons">alarm_on</i>
                    </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="flex__item flex__item--1of3">
        <div class="node">
          Foo
        </div>
      </div>

      <div class="flex__item flex__item--1of3">
        <div class="node">
          Bar
        </div>
      </div>

      <div class="flex__item flex__item--1of3">
        <div class="node">
          Bat
        </div>
      </div>

      <div class="flex__item flex__item--1of2">
        <div class="node">
          Blah
        </div>
      </div>

      <div class="flex__item flex__item--1of2">
        <div class="node">
          Blah
        </div>
      </div>

    </div>

    <p>This screen should also show:</p>
    <ul>
      <li>Number of people on a team versus number allowed in current tier</li>
      <li>Most recent notes</li>
    </ul>
  </div>
<% end %>
