<div class="backbar">
  <div class="backbar__action">
    <div class="roundrect-icon" style="background-color: #<%= locals[:color] ||= "" %>">
      <i class="material-icons"><%= locals[:icon] ||= "apps" %></i>
    </div>
  </div>

  <div class="backbar__title">
    <h3><%= locals[:page_title] %></h3>
    <% unless locals[:page_subtitle].blank? %>
      <h5><%= locals[:page_subtitle] %></h5>
    <% end %>
  </div>

  <% if locals[:subcomponent] %>
    <div class="backbar__subcomponent">
      <%= render locals[:subcomponent] %>
    </div>
  <% end %>
</div>
