<aside class="sidebar">

  <div class="sidebar__links">
    <h3>Events</h3>
    <ul>
      <%= active_link_to new_event_path do %>
        <li>New 1:1</li>
      <% end %>
      <li><a href="#">Add Notes</a></li>
    </ul>

    <hr/>

    <h3>Team</h3>
    <ul>
      <% @team.colleagues.each do |member| %>
        <%= active_link_to member do %>
          <li>
            <%= member.full_name %>
          </li>
        <% end %>
      <% end %>
      <li>
        <%= active_link_to "Invite Colleague", new_colleague_path %>
      </li>
    </ul>

    <hr/>

    <ul>
      <li>
        <%= active_link_to "Team Settings", edit_team_path(@team) %>
      </li>
    </ul>

  </div>

</aside>
