<%= content_for :main do %>

  <main>

    <%= render 'shared/detail-nav', locals: {
      path: root_path,
      page_title: @colleague.full_name,
      page_subtitle: @colleague.title,
      style: "backbar--simple",
      icon: "person",
      color: @colleague.color,
      subcomponent: "event-notifier"
    } %>


    <div class="context">
      <ul class="context__menu">
        <li class="context__menu__item context__menu__item--active">Details</li>
        <li class="context__menu__item">Events</li>
        <li class="context__menu__item">Notes</li>
        <li class="context__menu__item">
          <%=link_to "Admin", edit_colleague_path(@colleague) %>
        </li>
      </ul>
    </div>

    <div class="content">
      <% if @goals %>
        <div class="goals">
          <% @goals.each do |goal| %>
            <div class="goals--item">
              <h5><%= goal.goal_type %></h5>
              <h4><%= goal.goal_title %></h4>
              <div class="chip chip--blue">
                <%= goal.goal_end.strftime("%B %y") %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>

  </main>
<% end %>
