<p id="notice"><%= notice %></p>

<p>
  <strong>Goal type:</strong>
  <%= @goal.goal_type %>
</p>

<p>
  <strong>Goal title:</strong>
  <%= @goal.goal_title %>
</p>

<p>
  <strong>Goal description:</strong>
  <%= @goal.goal_description %>
</p>

<p>
  <strong>Goal complete:</strong>
  <%= @goal.goal_complete %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
