<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | oneonwonder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="authd-navigation">
      <div class="authd-navigation__logo">
        <%=image_tag("logo_placeholder.png") %>
      </div>

      <ul class="authd-navigation__links">
        <li><%=link_to "Home", root_path %></li>
        <li>Settings</li>
      </ul>

      <ul class="authd-navigation__avatar">
        <li>+</li>
        <li><%= user_gravatar current_user %></li>
      </ul>
    </div>

    <div class="wrapper">
      <%= render 'shared/sidebar' %>
      <%= yield :main %>
    </div>

    <% if flash[:notice] %>
    <div class="message">
      <%= notice %>
    </div>
    <% end %>

  </body>
</html>
